body,
html {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
main {
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid slateblue;
}
::placeholder {
  color: rgb(170, 170, 170);
}
input,
textarea {
  background-color: #595858;
  border-radius: 8px;
  padding: 8px 5px;
  border: none;
  outline: none;
  color: white;
  margin: 5px;
  transition: all 0.5s ease;
  font-size: 1.1rem;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 10px #00ffff;
}
input[type="text"] {
  max-width: 400px;
  width: 100%;
}
input[type="date"] {
  max-width: 400px;
  width: 100%;
}
textarea {
  min-height: 150px;
  max-width: 400px;
  width: 100%;
  padding: 10px;
}
#logTask {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid;
  background: none;
  color: white;
  outline: none;
  border-radius: 8px;
  transition: all 0.4s;
}
#logTask:hover {
  background-color: #00aeff;
  color: black;
}
#logTask:active {
  opacity: 0.7;
}
@media (min-width: 900px) {
  main {
    gap: 40px;
    display: grid;
    border-bottom: 1px solid slateblue;
    border-radius: 7px;
    border-right: 1px solid slateblue;
    grid-template-columns: minmax(200px, 400px) 1fr;
  }
  .container {
    width: auto;
    max-width: auto;
  }
}
#createdLogs {
  margin: 30px auto;
  padding: 5px 0;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
    border-radius: 8px;
  border: 1px solid slateblue;
}

details {
  width: 90%;
  transition: all 0.5s ease;
  margin: 0 auto;
  border: 2px solid #00aeff;
  padding: 5px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
details::selection {
  background-color: #027777;
  color: whitesmoke;
}
details p {
  background: #013b3b;
  padding: 10px;
  border-radius: 8px;
font-size: 1.1rem;
font-weight: 400;
}
summary {
  background: none;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 600;
}
span {
  display: block;
  width: fit-content;
  background-color: #595858;
  padding: 2px 4px;
  margin-top: 5px;
  border-radius: 5px;
}
